#root {
  @apply m-0;
}

:focus {
  @apply focus:outline;
  outline-color: #ffd966;
}

nav {
.concentraction-logo {
  @apply mx-auto;
}}

footer {
  @apply bg-no-repeat bg-origin-content bg-contain;
  background-image: url("./assets/bg-footer.png");
  background-position: 80%;
}

.layout {
  background-repeat: repeat;
  background-image: url("./assets/bg-page.svg");
}